<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type='text/javascript' src='javascripts/client.js'></script>
  </head>
  <body>
    <h1>Theatre 14</h1>
    <p id="live-theatre-14">Current talk in theatre 14</p>
    <h1>Theatre 15</h1>
    <p id="live-theatre-15">Current talk in theatre 14</p>
    <h2>All talks</h2>
    <ul class="all-talks">
     <% data.forEach(function(el, index){ %>
      <li>
        <% locationName = "" %>
        <% if (el.location) { %>
          <% locationName = el.location.id %>
        <% } else { %>
          <% locationName = "" %>
        <% } %>
        <% if (el.speakers.length > 0) { %>
          <% speakerName = el.speakers[0].name %>
        <% } %>
        <%= el.begin %> <a href="#" class="speaker-title" data-theatre="<%= locationName %>" data-speaker="<%= speakerName %>"><%= el.title %></a>
        <%= speakerName %>
      </li>
    <% }) %>
    </ul>
  </body>
</html>